[Desktop Entry]
Type=Application
Exec=gnome-terminal --maximize
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=Terminal
Name=Terminal
Comment[en_IN]=
Comment=
